streamlit
streamlit-lottie
tenacity
openai
langchain
langchain-community
langchain-openai
langchain-pinecone
langgraph
python-dotenv
pymupdf
requests
pandas
semantic_router
serpapi
google-search-results  # Keep if using this explicitly
beautifulsoup4
lxml